style.css
/* Colors and fonts*/

body {
	background: white;
	color: black;
	font-family:'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	width: 300px; 
	margin: auto;
}


h1,h2,h3{
	font-family:'Roboto Condensed', sans-serif;
    font-weight: 900;	
}

h1 {
	color: #1B262C;
	letter-spacing: 10px;
	font-size: 32px;
	font-family:'Roboto Condensed', sans-serif;
}

h2 {color: #313638;
	font-size: 20px;
	font-weight: lighter;
}

a{
	text-decoration: none;
	color: #1B262C;
	font-weight: bold;
	font-weight: 600;
	font-size:16px;
}

a:hover {
color:black;
}

/*Custom design with class*/
.container {
	width: 700px;
	margin: 40px auto;
}

@media ( max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: #e1f2fb;
	padding: 40px ;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
	
}

.img-circle {
	border-radius: 70%;
}
.btn-blue {
	background-color: #192965;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-blue: hover{
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding:10px;
}

.list-inline i {
	font-size: 50px;
	color: #192965;
}

.list-inline i: hover{
	font-size: 50px;
	color: black;
}

#introduction p {
	margin-bottom: 40px;
}
